# OS
.DS_Store
Thumbs.db
*.swp

# React Native / Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.expo/
.web/

# Android
.gradle
.idea
build/
local.properties
*.iml
*.hprof
.cxx/
*.apk
*.aab

# Keystores & Secrets
*.keystore
!debug.keystore
*.jks
*.p12
*.key
*.pem
.env
.env.local
.env.*

# Metro
.metro-health-check*
*.jsbundle

# Testing
coverage/

# Misc
.temp/
tmp/
.vscode/
